@font-face {
  font-family: Roboto-Black;
  src: url('../src/font/Roboto-Black.ttf');
}

body{
    margin: 0;
    font-family: Roboto-Black;
}

::-webkit-scrollbar {
    width: 6px; 
    }
    
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    }
    
  
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
    }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
    }
  
/* Frame1 */

header{
    display: flex;
    justify-content: space-around;
    color: rgb(0, 0, 0);
    width: 100%;
}

.logoBlock{
    margin: 10px 0px
}

.headerBlock{
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
    width: 60%;
}

.headerBlockButton{
    width: 97px;
    height: 32px;
    margin: 10px 0px;
    border-radius: 15px 0px 15px 0px;
    background-color: #CAA892;
    color: #FFFFFF;
    border: none;
}

.infoModalInteriorP{
  width: 186px;
  height: 27px;
  margin: 100px 0px 0px 50px;
  font-size: 20px;
  color: #646464;
  line-height: 27.24px;
}

.infoModalInteriorH1{
  width: 549px;
  height: 156px;
  margin: 20px 0px 0px 50px;
  font-size: 72px;
  line-height: 78px;
  color: #212121;
}

.infoModalInteriorP2{
  width: 603px;
  height: 90px;
  margin: 20px 0px 0px 50px;
  font-size: 18px;
  line-height: 30px;
  color: #646464;
}

.infoModalInteriorButton{
  width: 202px;
  height: 78px;
  margin: 87px 0px 0px 50px;
  border-radius: 20px 0px 20px 0px;
  background-color: #37806B;
  text-align: center;
  font-size: 18px;
  line-height: 78px;
  color: #FFFFFF;
  border: none;
}

.containerModalInterior{
  font-family: Roboto-Black;
  display: flex;
  justify-content: space-around;
}

.imgModalInterior{
  border-radius: 100px 0px 100px 0px;
  margin: 50px 0px;
}

/* Frame2 */

.whatWeDoP{
  width: 129px;
  height: 28px;
  margin: 200px 0px 0px 50px;
  font-size: 20px;
  line-height: 28px;
  color: #646464;
}

.whatWeDoH2{
  width: 276px;
  height: 78px;
  margin: 20px 0px 0px 50px;
  font-size: 48px;
  line-height: 78px;
  color: #212121;
}

.containerBlockWhatWeDo{
  display: flex;
  justify-content: space-evenly;
  font-family: Roboto-Black;
}

.interiorBlock{
  width: 425px;
  height: 173px;
  margin: 50px 0px 0px 50px;
  border-radius: 60px 0px 60px 0px;
  box-shadow: 11px 4px 38px -4px rgba(0,0,0,0.34);
  padding: 10px;
}

.ArchitectureBlock{
  width: 425px;
  height: 173px;
  margin: 50px 0px 0px 50px;
  border-radius: 60px 0px 60px 0px;
  box-shadow: 11px 4px 38px -4px rgba(0,0,0,0.34);
  padding: 10px;
  background-color: rgba(202, 168, 146, 1);
  color: #FFFFFF;
}

.PlanningBlock{
  width: 425px;
  height: 173px;
  margin: 50px 0px 0px 50px;
  border-radius: 60px 0px 60px 0px;
  box-shadow: 11px 4px 38px -4px rgba(0,0,0,0.34);
  padding: 10px;
}

.imgInteriorBlock{
  display: flex;
  justify-content: space-evenly;
  height: 50px;
}

.imgArchitectureBlock{
  display: flex;
  justify-content: space-evenly;
  height: 50px;
}

.imgPlanningBlock{
  display: flex;
  justify-content: space-evenly;
  height: 50px;
}

.interiorBlock{
  color: rgba(100, 100, 100, 1);
}

.PlanningBlockP{
  color: rgba(100, 100, 100, 1);
}

/* Frame3 */

.wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 600px;
  width: 80%;
  margin: auto; 
  margin-top: 100px;
}

.imgBlock{
  border-radius: 100px 0px 100px 0px;
  margin-top: 50px;
}

.imgBlock2{
  border-radius: 100px 0px 100px 0px;
}

.infoBlockP{
  width: 100px;
  height: 30px;
  font-size: 20px;
  color: rgba(100, 100, 100, 1);
}

.infoBlockH2{
  width: 490px;
  height: 114px;
  font-size: 48px;
  line-height: 57px;
  color: rgba(33, 33, 33, 1);
}

.infoBlockP2{
  width: 544px;
  height: 240px;
  font-size: 18px;
  line-height: 30px;
  color: rgba(100, 100, 100, 1);
}

.infoBlockButton{
  width: 142px;
  height: 42px;
  border-radius: 20px 0px 20px 0px;
  background-color: rgba(55, 128, 107, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  border: none;
}

.infoBlock2H2{
  font-size: 150px;
  margin: 0;
}

.infoBlock2H3{
  width: 528px;
  height: 195px;
  font-size: 50px;
  color: rgba(33, 33, 33, 1);
}

.infoBlock2Button{
  width: 142px;
  height: 42px;
  border-radius: 20px 0px 20px 0px;
  background-color: rgba(55, 128, 107, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  border: none;
}

/* Frame 4 */

.BlogP{
  width: 134px;
  height: 28px;
  display: flex;
  margin: 0 auto;
  font-size: 20px;
  color: rgba(100, 100, 100, 1);
  font-family: Roboto-Black;
}

.BlogH3{
  width: 341px;
  height: 28px;
  font-size: 48px;
  color: rgba(17, 17, 17, 1);
  display: flex;
  margin: 0 auto;
  font-family: Roboto-Black;
}

.containerBlog{
  display: flex;
  justify-content: space-evenly;
  font-family: Roboto-Black;
  margin-top: 50px;
}

.block1H4{
  width: 400px;
  height: 28px;
  font-size: 30px;
  color: rgba(33, 33, 33, 1);
}

.block1P{
  width: 603px;
  height: 56px;
  font-size: 18px;
  color: rgba(100, 100, 100, 1);
}

.block1Button{
  width: 271px;
  height: 53px;
  border-radius: 25px 0px 25px 0px;
  background-color: rgba(55, 128, 107, 1);
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  border: none;
}

.block2H4{
  width: 606px;
  height: 28px;
  font-size: 30px;
  color: rgba(33, 33, 33, 1);
}

.block2P{
  width: 603px;
  height: 56px;
  font-size: 18px;
  color: rgba(100, 100, 100, 1);
}

.block2Button{
  width: 271px;
  height: 53px;
  border-radius: 25px 0px 25px 0px;
  background-color: rgba(55, 128, 107, 1);
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  border: none;
  margin-top: -3px;
}

/* Frame 5 */

.signUpContainer{
  font-family: Roboto-Black;
  margin-top: 400px;
}

.SignUpH4{
  width: 100%;
  height: 28px;
  font-size: 48px;
  color: rgba(33, 33, 33, 1);
  text-align: center;
}

.SignUpP{
  width: 100%;
  text-align: center;
  height: 56px;
  font-size: 18px;
  color: rgba(100, 100, 100, 1);
  margin-top: 50px;
}

.line{
  width: 461px;
  height: 1px;
  background-color: rgba(196, 196, 196, 1);
  display: flex;
  margin: 50px auto;
}

.inputBlock{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  margin-top: 50px;
}

input{
  width: 60%;
  height: 60px;
  background-color: rgba(238, 238, 238, 1);
  border-radius: 25px 0px 0px 0px;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0px 0px 0px 10px;
}

::placeholder{
  width: 227px;
  font-size: 18px;
  color: rgba(100, 100, 100, 1);
  padding: 0px 0px 0px 10px;
}

.inputBlockButton{
  width: 20%;
  height: 60px;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(55, 128, 107, 1);
  border-radius: 0px 25px 0px 0px;
  border: none;
}